html {
  box-sizing: border-box;
}

.social-bar {
  position: fixed;
  left: 0;
  bottom: 0%;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 100;
}

.icon {
  color: white;
  text-decoration: none;
  padding: .7rem;
  display: flex;
  transition: all .5s;
  border-bottom: 1px solid white;
}

  .icon:hover {
      text-decoration: none;
      color: white;
  }

.icon-facebook {
  background: #cd031d;
}

.icon-phone {
  background: #e68f1a;
}

.icon-whatsapp {
  background: #cd031d;
}

.icon-envelop {
  background: #e68f1a;
}

.icon-instagram {
  background: #cd031d;
}

.icon:first-child {
  border-radius: 0 1rem 0 0;
  border-bottom: 1px solid white;
}

.icon:last-child {
  border-radius: 0 0 1rem 0;
}

.icon:hover {
  padding-left: 3rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #cd031d;
  border-top-color: #d1e6f9;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background-color: #171717;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  padding: .20rem .50rem 0 .50rem;
  border: 1px solid #fff;
}

.back-to-top:hover {
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header.header-scrolled {
  top: 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}


@media (max-width: 992px) {
  #header {
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #2c4964;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  padding: 5px 2px;
  border-bottom: 2px solid #fff;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  border-color: #e75c49;
}

.appointment-btn {
  font-weight: bolder;
  margin-left: 25px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  background: #cd031d;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #cd031d;
}

.appointment-btn:hover {
  border: 1px solid #cd031d;
  color: #cd031d;
  background-color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #1977cc;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2c4964;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #1977cc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(28, 47, 65, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 55vh;
  background: url("../img/hero-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-bottom: 0;
    height: 30vh;
    background-size: cover;
  }
  #hero .container {
    padding-bottom: 63px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
}



/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 20px;
  position: relative;
  color: #100304de;
}



/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f7fd;
  min-height: 40px;
  margin-top: 120px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 63px;
  }
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

.us {
  box-shadow: 0px 2px 15px rgba(204, 25, 25, 0.1);
}

.us .text-decoration {
  border-radius: 50%;
  border: 1px solid #cd031d;
}

.us .us-item {
  padding: 0.50rem;
  border-radius: 10px;
}

.us .us-item .item-icon {
  border-radius: 50%;
  border: 1px solid #cd031d;
  width: 75px;
  height: 75px;
  position: relative;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, 0);
}

.us .us-item .item-icon ion-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: #cd031d;
}

@media (max-width: 768px) {

  .us .text-decoration {
    margin: .50rem !important;
  }

  .us .us-item {
    margin: 0 !important;
  }

  .us .us-item p {
    margin: 0 !important;
    font-size: 0.89rem;
    text-align: justify !important;
  }
  
  .us .us-item .item-icon {
    margin: .50rem !important;
    padding: 0 !important;
    width: 50px;
    height: 50px;
  }

  .us .us-item .item-icon ion-icon {
    font-size: 24px;
  }

  .section-title {
    padding: 0;
  }
}

.services .services-box {
  transition: all ease-in-out 0.3s;
  border-radius: 10px;
  box-shadow: 0px 2px 12px rgba(44, 73, 100, 0.08);
  margin: 0 auto;
  height: 300px;
}

.services .services-box:hover {
  transform: scale(1.1);
}

.services .services-box img {  
  max-height: 80px;
}

.services .services-box .services-box-btn {
  color: #cd031d;
  border-radius: 4px;
  padding: 8px 25px;
  transition: 0.3s;
  font-size: 14px;
  border: 1px solid #cd031d;
  background-color: #fff;
  display: inline-block;
  max-width: 180px;
  margin: 0 auto;
}

.services .services-box .services-box-btn:hover {
  background-color: #cd031d;
  color: #e5e9ec;
  cursor: pointer;
}

.services .services-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 20px;
}

.services .services-box h4 a {
  color: #2c4964;
}

@media (max-width: 1190px) {
  .services .services-box {
    height: 280px;
  }
  .services .services-box h4 {
    font-size: 17px;
  }
}

@media (max-width: 990px) {
  .services .services-box {
    margin: 0.70rem 0;
  }
}



/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}

.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #1977cc;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #cd031d;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  border: 1px solid #cd031d;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #fff;
  color: #cd031d;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#footer {
  font-size: 0.83rem;
  background-color: #171717;
  letter-spacing: .05rem;
}

.footer-top {
  background-color: #000000;
  background-image: linear-gradient(160deg, #000000 0%, #414141 74%);
}

#footer .footer-top .list-group .list-group-item {
  padding: .50rem 0;
  border: none;
  background-color: inherit;
}

#footer .footer-top h4 {
  font-weight: bold;
  font-size: 1.35rem;
  margin-bottom: 1rem;
}

#footer .footer-top a:hover {
   color: #feae96 !important;
}

#footer .footer-top span {
  font-size: .80rem;
  color: #bfc0c0;
}

#footer .footer-top strong {
  color: #fff;
  font-size: .85rem;
  margin-right: .25rem;
}

